.only-iphone {
  background-color: #f5f5f7;
}

.no-iphone {
  font-size: 56px;
  line-height: 1.07143;
  font-weight: 600;
  letter-spacing: -0.005em;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  margin-top: 10px;
}

p {
  font-size: 17px;
  line-height: 1.4211;
  font-weight: 400;
  letter-spacing: 0.012em;
}

a {
  text-decoration: none;
}
